<!--Row one -->
<div class="layout-box grid-3">
  <div class="messaging">
    <div class="messaging header">Federal Perkins Loan Program To Expire September 30 2017 </div>
    <ul class="fa-ul">
      <li><i class="fa-li fa fa-check-square"></i>As of Sunday Oct 1 2017 12:01 AM, Heartland ECSI will cancel all unsigned Perkins Loan Promissory Notes on our online signing platform. We will add messaging to advise students that all unsigned Perkins Loan Promissory Notes have been cancelled due to the expiration of the Perkins Loan Program. <a href="#">Read More...</a>
    </ul>
  </div>
</div>
<div class="layout-box grid-2 happyWorkers"></div>


<!--Row two -->
<div class="layout-box wide-thin" id="landing-monthGauge"></div>

<!--Row three -->
<div class="layout-box grid-2 happyKids"></div>
<div class="layout-box grid-1"></div>
<div class="layout-box grid-1"></div>

<!--Row four -->
<div class="layout-box grid-1" ></div>
<div class="layout-box grid-2 green"></div>
<div class="layout-box grid-1">
  <div class="messaging">
    <div class="fa fa-warning" style="font-size:30px; color:#f15a24"; align="center"></div>
    <div class="hline-bottom"></div>
	  </br>Our next scheduled maintenance release is <strong>Dec 7, 2017. </strong>This system will be unavailable from Dec 7 12:00 AM EST - Dec 8, 12:00 AM EST.
</div>


<script type="text/javascript" src="scripts/landing.js"></script>