<div class="layout-box grid-1 row-2 messaging h2">As you are aware, the Federal Perkins Loan Program will expire on September 30, 2017. There are two critical items that you need to be aware of effective October 1, 2017.

1) As of 12:01 AM, Sunday, October, 1, 2017, Heartland ECSI will cancel all unsigned Perkins Loan Promissory Notes on our online signing platform. We will be adding messaging for students to advise them that all unsigned Perkins Loan Promissory Notes have been cancelled due to the expiration of the Perkins Loan Program.

2) You must ensure that all newly eligible students that have completed their loan documents are disbursed by 9/30/2017. Please note that we will still accept advance files for Perkins Loans. By submitting an advance file to Heartland ECSI, you attest that all Perkins loans within the advance file are valid and were first disbursed prior to October 1, 2017 in conformance with the Federal Perkins Loan Program Extension Act of 2015, enacted December 18, 2015.
</div>
<div class="layout-box happyWorkers grid-2 "></div>
<div class="layout-box grid-1"></div>
<div class="layout-box grid-1">
<div class="messaging icon">
	<div class="fa fa-warning" style="font-size:20px; color:orange; text-align: center"></div></br>
Our next scheduled maintenance release is December 7, 2017.  The system will be unavailable from 12:00 AM EST on December 7, 2017 to 12:00 AM EST on December 8, 2017.
</div>
</div>


<div class="layout-box grid-1" id="gauge"></div>


<script type="text/javascript" src="scripts/landing.js"></script>