<!--<div class="phone-switcher">
  <div class="selected" data-show="#day">
    <div class="left"><span>Daily Sales</span></div>
  </div>
  <div data-show="#year">
    <div class="right"><span>Sales By Range</span></div>
  </div>
</div> -->
<div class="hb-1">
  <div class="layout-box hb-3" >
	  <div id="recoveryTabs" class="perf-graph-navigation" ></div>
<!--      <table class="perf-graph-navigation">
        <tr>
          <td class="today active"><div id="resolutionRate">Resolved Accounts</div></td>
          <td class="today"><div id="activeInventory">Active Inventory</div></td>
          <td class="today"><div id="agencyInventory">Agency Inventory</div></td>
          <td class="today"><div id="paymentPlans">Payment Plans</div></td>
        </tr>
      </table>
  --> 
    <div class="perf-items clear-fix">
      <div class="perf-item layout-box lb-2">RESOLUTION RATE
		  <div id="resolutionRateTotal"><strong>58.3%</strong></div>
      </div>
      <div class="perf-item layout-box lb-2">AMOUNT RESOLVED
		  <div id="amountResolvedTotal"><strong>$3.5M</strong></div>
      </div>
      <div class="perf-item layout-box lb-2">ACCOUNTS RESOLVED
		  <div id="accountsResolvedTotal">78</div>
      </div>
    </div>

            <div id="resolutionChart" class="perf-graph">
            </div>
        <div class="hb-6 phone-hide">
            <div id="resolutionRange-selector" class="hb-6"></div>
        </div>
        <div class="clear-fix">
            <div class="layout-box">
                <div id="detailDataGrid" class="hb-5">
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>
<!--
<div class="layout-box lb-4 phone-hide" id="year">
    <div class="hb-4">
        <div class="move-up">
            <div class="clear-fix">
                <div class="layout-box lb-5">
                    <div class="hb-5 pie-max" id="pieChart">
                    </div>
                </div>
                <div class="layout-box lb-6  phone-hide">
                    <div class="hb-5" id="barGauge">
                    </div>
                </div>
            </div>
           
        </div>
    </div>
</div>
--> 

<script type="text/javascript" src="scripts/recoverySelect.js"></script> 

